<div class="container">
  <div class="row">
    <%= form_with model: @task, url: tasks_path do |f| %>
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <%= f.label :title %>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <%= f.text_field :title, class: "form-control", placeholder: "タスク" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <%= f.label :deadline %>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
           <%= f.date_field :deadline, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <%= f.label :priority %>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
           <%= f.select :priority, Task.priorities_i18n.invert.to_a, class: "form-select" %>
        </div>
      </div>
      <%= f.submit "作成", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>未完了</h1>
      <% @not_done_tasks.each do |t| %>
        <% if (t.deadline - @today).to_i > 0 %>
          <h3><%= t.title %></h3>
          <p>優先度:<%= t.priority_i18n %><p>
          <p>期限:<%= t.deadline %><p>
          <p>残り:<%= (t.deadline - @today).to_i %>日<p>
           <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag done_task_path(t), method: :post do %>
                <%= submit_tag "完了", class: "btn btn-success btn-sm" %>
              <% end %>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag task_path(t), method: :delete,
                    data: { turbo_confirm: "削除しますか?" } do %>
                <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </div>

        <% elsif (t.deadline - @today).to_i == 0 %>
          <h3><%= t.title %></h3>
          <p>優先度:<%= t.priority_i18n %><p>
          <p>期限:<%= t.deadline %><p>
          <p>今日までです！頑張りましょう！<p>
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag done_task_path(t), method: :post do %>
                <%= submit_tag "完了", class: "btn btn-success btn-sm" %>
              <% end %>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag task_path(t), method: :delete,
                    data: { turbo_confirm: "削除しますか?" } do %>
                <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </div>

        <% else %>
          <h3><%= t.title %></h3>
          <p>優先度:<%= t.priority_i18n %><p>
          <p>期限:<%= t.deadline %><p>
          <p>期限が超過しています。優先度を上げましょう！<p>
           <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag done_task_path(t), method: :post do %>
                <%= submit_tag "完了", class: "btn btn-success btn-sm" %>
              <% end %>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= form_tag task_path(t), method: :delete,
                    data: { turbo_confirm: "削除しますか?" } do %>
                <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>完了</h1>
      <% @done_tasks.each do |t| %>
        <h3><%= t.title %></h3>
        <p>完了日:<%= t.done_at.strftime('%Y-%m-%d') %><p>
        <%= form_tag task_path(t), method: :delete,
          data: { turbo_confirm: "削除しますか?" } do %>
          <%= submit_tag "削除", class: "btn btn-danger btn-sm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>